@font-face {
    font-family: 'ArialBold';
    src: url('fonts/Arial_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('fonts/Arial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CalibriRegular';
    src: url('fonts/Calibri\ Regular.ttf Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MS PGothic';
    src: url('fonts/MS\ PGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Calibri', sans-serif;
}

/* Logo styling */
.logo {
    margin-left: 50px;
    margin-top: 25px;
    font-size: 25px;
    font-family: 'MS PGothic', sans-serif;
}

/* Header styling */
.header {
    font-family: 'ArialBold', sans-serif;
    display: flex;
    justify-content: center;
}

/*index*/
.mapcontainer {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 2rem;
    height: 400px; 
}

#map {
    border-radius: 30px;
    width: 100%; 
    height: 100%; 
}

.video-section {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Calibri', sans-serif;
    margin: 20px 40px; 
    font-size:35px;
    padding-left: 5px;
}

.video-box {
    width: calc(33.33% - 20px); 
    height: 200px;
    margin-right: 22px;
    justify-content: center;
    display: inline-block;
    vertical-align: top; 
    overflow: visible;
    padding-bottom: 5%;
}

.video-box:hover{
    opacity: 0.7;
}

.message 
{
    text-decoration: none;
    text-align: center;
    margin-bottom: 2rem;
}

.message a:hover{
    text-decoration: none;
    color: teal;
}

/* Footer */
.footer {
    margin:0;
    background-color: #005b5b;
    color: #fff;
    padding: 15px;
    text-align: center;
 }
  
 .footer a {
    color: #fff;
    text-decoration: none;
 }
  
 .footer a:hover {
    text-decoration: none;
    color: lightblue;
 }

  
/* Mobile Queries */
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .logo {
        margin-left: 20px;
        margin-top: 15px;
        font-size: 20px;
    }

    .header {
        font-size: 18px;
    }

    .mapcontainer {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .video-section{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

    .video-box {
        width: 100%;
        margin-right: 0;
        padding-bottom: 30%;
        padding-right: 10%;
    }

    .message {
        font-size: 12px;
    }

    .footer {
        padding: 10px;
        font-size: 12px;
    }
}
