@font-face {
    font-family: 'ArialBoldItalic';
    src: url('fonts/Arial_Bold_Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ArialBold';
    src: url('fonts/Arial_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ArialItalic';
    src: url('fonts/Arial_Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('fonts/Arial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CalibriBoldItalic';
    src: url('fonts/Calibri\ Bold\ Italic.ttf Bold Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'CalibriRegular';
    src: url('fonts/Calibri\ Regular.ttf Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MS PGothic';
    src: url('fonts/MS\ PGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h3{
    font-family: 'MS PGothic', sans-serif;
}

h1{
    font-family: 'ArialBold', sans-serif;
    color: #521C1C
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Calibri', sans-serif;
}


.body{margin: 0; padding: 0;}
.logo{
    margin-left: 2rem;
    text-decoration: none;
    color: inherit;
 }
 .logo:hover{
    color: #333;
 }
 .header{
    display: flex;
    justify-content: center;
 }

/*index*/
.mapcontainer {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 2rem;
    height: 400px; 
}

#map {
    border-radius: 30px;
    width: 100%; 
    height: 100%; 
}

.message 
{
    text-align: center;
    margin-bottom: 2rem;
    text-decoration: none;
}


/*minigame*/
.gamecontainer{
    outline-style: solid;
    background-color: #DCDCDD;
    border-radius: 10px;
    height: 30rem;
    padding: 2rem;
    margin: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.gamecontainer p{
    margin-top:2rem;
    font-size: 40px;
}

.startbox{
    border-radius: 40px;
    margin-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: grey;
}

.startbox p{
    font-size: 40px;
}

/*minigame-play*/

.option {
    width: 100px; 
    height: 40px; 
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #efa04c;
    cursor: pointer; 
}

#question-container {
    margin-bottom: 20px;
    display: inline-block;
}

#options-container {
    display: flex;
    flex-wrap: wrap;
}

#question-container p{
    font-size: 20px;
}

#Billy {
    display: inline-block;
    margin-right: 10px; 
}
#question-text {
    display: inline-block;
    border-radius: 50%;
    background-color: #ff8dba; 
    padding: 30px;
}
.bubble{
    width: 5px;
    height: 5px;
    background-color: #ff8dba; 
    border-radius: 50%;
}
/* Footer */
.footer {
    margin:0;
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  