@font-face {
    font-family: 'ArialBoldItalic';
    src: url('fonts/Arial_Bold_Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ArialBold';
    src: url('fonts/Arial_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ArialItalic';
    src: url('fonts/Arial_Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('fonts/Arial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CalibriBoldItalic';
    src: url('fonts/Calibri\ Bold\ Italic.ttf Bold Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'CalibriRegular';
    src: url('fonts/Calibri\ Regular.ttf Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MS PGothic';
    src: url('fonts/MS\ PGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Logo styling */
.logo {
    margin: 50px;
    font-size: 25px;
    font-family: 'MS PGothic', sans-serif;
    text-decoration: none;
}

.logo a {
    text-decoration: none;
    color: black;
}

.logo a:hover {
    text-decoration: none;
    color: teal;
}

/* Header styling */
.header {
    display: flex;
    justify-content: center;
    font-family: 'ArialBold', sans-serif;
}

body {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Calibri', sans-serif;
}

/*minigame*/
.gamecontainer{
    background-image: url('images/quizbackground.jpg'); 
    background-size: cover;
    background-position: center; 
    padding: 20px; 
    text-align: center; 
    outline-style: solid;
    background-color: #DCDCDD;
    border-radius: 10px;
    height: 30rem;
    padding: 2rem;
    margin: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.gamecontainer p {
    margin-top: 2rem;
    font-size: 40px;
}


.gamecontainer p{
    margin-top:2rem;
    font-size: 40px;
}
#startcontainer{
    display: flex;
}
#startButton{
    border-radius: 40px;
    margin-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #d3575d;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 11rem;
    color: white;
    font-size: 30px;
    margin-left: 17.5rem;
}
#startButton p{
    font-size: 40px;
}
#covidman{
    height:200px;
    width: 300px;
}

/*minigame-play*/
.option {
    width: 10rem;
    height: 5rem;
    border-radius: 8px;
    padding: 10px;
    margin-right: 1rem;
    margin-left: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #efa04c;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#question-container {
    margin-bottom: 20px;
    display:flex
}

#options-container {
    display: flex;
    flex-wrap: wrap;
}

#question-container p{
    font-size: 20px;
}

#Billy {
    margin-right: 10px;
    height: 20rem;
}
#question-text {
    border-radius: 50%;
    background-color: #ff8dba;
    padding: 30px;
    margin-top: 0;
    margin-left: 3rem;
    margin-bottom: 0;
    height: 8rem;
    width: 30rem;
    display: flex;
    align-items: center;
}

#bubble1{
    width: 2rem;
    height: 2rem;
    background-color: #ff8dba;
    border-radius: 50%;
    margin-left: 2rem;
    margin-bottom: 1rem;
}
#bubble2{
    width: 1rem;
    height: 1rem;
    background-color: #ff8dba; 
    border-radius: 50%;

}

.option.correct {
    background-color: #5cb85c; 
    color: #fff; 
}

.option.wrong {
    background-color: #d9534f; 
    color: #fff; 
}
#result-container{
    display: flex;
    justify-content: center;
}
#sadlottie {
    display: none;
    margin-left:16.5rem;
    width: 5rem;
    height: 5rem;
}
#loading{
    display:none;
    margin-left: 1rem;
}

/*Email input*/
.email-container {
    text-align: center;

}
.email-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#emailInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 60px; 
    width:20rem;
    text-align: center;

}

#emailInput:focus {
    border-color: #007bff;
}

/* Footer */
.footer {
    margin:0;
    background-color: #005b5b;
    color: #fff;
    padding: 15px;
    text-align: center;
}
  
.footer a {
    color: #fff;
    text-decoration: none;
}
  
.footer a:hover {
    text-decoration: none;
    color: lightblue;
}


/* Mobile Queries */
@media only screen and (max-width: 600px) {
    .logo {
        margin: 20px;
        font-size: 20px;
    }

    .header {
        font-size: medium;
    }

    .gamecontainer {
        padding: 1rem;
        height: auto;
        margin: 2rem;
    }

    .gamecontainer p {
        font-size: 30px;
    }

    #startButton {
        margin-top: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 30px;
    }

    .option {
        width: 80px;
        height: 30px;
        padding: 5px;
        margin: 5px;
        font-size: 14px;
    }

    #question-container p {
        font-size: 16px;
    }

    #Billy {
        height: 8rem;
    }

    #question-text {
        padding: 20px;
        margin-left: 1rem;
    }

    #bubble1 {
        width: 0.4rem;
        height: 0.4rem;
        margin-left: 0.5rem;
    }

    #bubble2 {
        width: 0.2rem;
        height: 0.2rem;
    }

    #emailInput {
        width: 15rem;
        font-size: 16px;
    }

    .footer {
        padding: 10px;
        font-size: 12px;
    }
}
